.rjx-preloader {
    background-image: url(preloader.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px auto;
    width: inherit;
    height: inherit;
    transition: opacity 0.3s;
}

.rjx-preloader > * {
    opacity: 0;
    transition: opacity 0.3s;
}

.rjx-preloader-end > * {
    opacity: 1;
}

/* prevent pop-up shaking */
.rjx-pu-container > * {
    opacity: 1;
}